{% extends 'base.html' %}

{% block content %}

<h1>Основная информация о колледже</h1>
<p>Товарищи! дальнейшее развитие различных форм деятельности в значительной степени
    обуславливает создание модели развития. Значимость этих проблем настолько очевидна,
    что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов)
    участие в формировании форм развития. Товарищи! постоянное информационно-пропагандистское
    обеспечение нашей деятельности позволяет выполнять важные задания по разработке систем
    массового участия. Равным образом рамки и место обучения кадров влечет за собой процесс
    внедрения и модернизации форм развития. Разнообразный и богатый опыт консультация с широким
    активом играет важную роль в формировании систем массового участия.</p>

{% endblock %}