{% extends 'base.html' %}

{% block content %}
<h1>Авторизация на учебный портал</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="/" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Войти</button></p>

    <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
</form>
{% endblock %}