{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Изменение пароля</h1>

    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label }}:</label>
            {{ form.old_password }}
            <div class="form-error">{{ form.old_password.errors }}</div>
        </div>

        <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}:</label>
            {{ form.new_password1 }}
            <div class="form-error">{{ form.new_password1.errors }}</div>
        </div>

        <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}:</label>
            {{ form.new_password2 }}
            <div class="form-error">{{ form.new_password2.errors }}</div>
        </div>

        <button type="submit" class="btn btn-primary">Изменить пароль</button>
    </form>
</div>
{% endblock %}
