{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{{profile_user.get_full_name}}</h1>

    {% if profile_user.photo %}
        <img src="{{ profile_user.photo.url }}" class="img-fluid rounded mb-3" alt="Профильное фото">
    {% else %}
        <img src="{{ default_image }}" class="img-fluid rounded mb-3" alt="Профильное фото">
    {% endif %}

    <dl class="row">

        <dt class="col-sm-3">E-mail:</dt>
        <dd class="col-sm-9">{{ profile_user.email }}</dd>

        <dt class="col-sm-3">Номер телефона:</dt>
        <dd class="col-sm-9">{{ profile_user.phone_number }}</dd>

        <dt class="col-sm-3">Дата рождения:</dt>
        <dd class="col-sm-9">{{ profile_user.date_birth }}</dd>

        {% if user.cat_user_id == 1 %}
            <dt class="col-sm-3">{{ profile_user.cat_user }}:</dt>
            <dd class="col-sm-9">{{ profile_user.group_stud }} группы</dd>
        {% else %}
            <dt class="col-sm-3">Статус:</dt>
            <dd class="col-sm-9">{{ profile_user.cat_user }}</dd>
        {% endif %}
    </dl>
</div>
{% endblock %}