{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link type="text/css" href="{% static 'portal/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom">
    <a class="navbar-brand" href="/">Учебный портал</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% for m in menu %}
                <li class="nav-link">
                    <a href="{% url m.url_name %}">{{m.title}}<span class="sr-only">(current)</span></a>
                </li>
            {% endfor%}
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-4">
            <!-- Navigation block goes here -->
            <div class="nav-block">
                <h3>Навигационное меню</h3>
                <ul>
                    {% for n in navigate %}
                    <li><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>


    <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Контакты</h3>
                <p>+ 7-865-345-32-23</p>
            </div>
            <div class="col-md-6">
                <h3>Адрес</h3>
                <p>г.Екатеринбург
                ул.Дубова 19</p>
            </div>
            <div class="col-md-6">
                <h3>Электронаая почта</h3>
                <p>eduportal@mail.com</p>
            </div>
            <div class="col-md-6">
                <h3>Социальные сети</h3>
                <p><a href="#">Вконтакте</a></p>
                <p><a href="#">Одноклассники</a></p>
                <p><a href="#">YouTube</a></p>
            </div>
            <!-- Add more blocks as needed -->
        </div>
    </div>
</div>
<!-- Content goes here -->

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
