{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
                <h2 class="mb-4">Моя группа {{my_group}}</h2>
                <ul class="list-group">
                    {% for member in my_group.members.all.order_by.last_name %}
                    {% if member == request.user %}
                        <li class="list-group-item border-0">
                            <p>Вы: <a href="{% url 'users:profile' %}" class="text-dark font-weight-bold stretched-link">{{ member.get_full_name }}</a></p>
                        </li>
                    {% else %}
                        <li class="list-group-item border-0">
                            <a href="{{ member.get_absolute_url }}" class="text-dark font-weight-bold stretched-link">{{ member.get_full_name }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                        <li class="list-group-item border-0">
                            <p>Ваш куратор: <a href="{{ my_group.curator.get_absolute_url }}" class="text-dark font-weight-bold stretched-link">{{ my_group.curator.get_full_name }}</a></p>
                        </li>
                </ul>
        </div>
    </div>
</div>


{% endblock %}